<section id="features">
    <div class="container">
        <h1> What Do you get With our tool?</h1>
        <p>Make sure all your tasks are organized so you can set the priorities and focus on important.</p>
        <div class="tool-features">
            <div class="box">
                <img src="~/images/features/chaticon.svg" alt="">
                <h5> Commants on tasks</h5>
                <p>Rnadom text</p>
            </div>
            <div class="box">
                <img src="~/images/features/graficon.svg" alt="">
                <h5> Tasks Analytics</h5>
                <p>Random text</p>
            </div>
            <div class="box">
                <img src="~/images/features/partyicon.svg" alt="">
                <h5> Multiple Assignees</h5>
                <p>Random text</p>
            </div>
            <div class="box">
                <img src="~/images/features/bell.svg" alt="">
                <h5> Notifications</h5>
                <p>Random text</p>
            </div>
            <div class="box">
                <img src="~/images/features/checklisticon.svg" alt="">
                <h5> Sections & Subtasks</h5>
                <p>Random text</p>
            </div>
            <div class="box">
                <img src="~/images/features/sheldicon.svg" alt="">
                <h5> Data Security</h5>
                <p>Random text</p>
            </div>
        </div>

    </div>
</section>